.layout {
  main {
    min-width: 250px;
    margin: 115px auto 0 auto;
    display: flex;
  }

  footer {
    margin: 120px 0 30px 0;
    padding: 60px 10px 0 10px;
    border-top: 1px solid #EAEDEF;
  }
}
