.card {
  width: 250px;
  height: 350px;
  box-shadow: 0px 5px 20px 0px rgba(51,73,94,0.05);
  transition: box-shadow 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  margin: 0 20px 30px 0;
  transform: translateZ(0);

  position: relative;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0px 10px 40px 0px rgba(51, 73, 94, 0.15);
  }

  &.rotate a, &.rotate a:after {
    transform: rotateY(180deg);
  }

  a, a:after {
    backface-visibility: hidden;
    width: 250px;
    height: 350px;

    transition: 0.6s;
  	transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
  }

  a {
    display: block;
    color: #4F4F4F;
    z-index: 2;

    &:after {
      content: "Card";
      transform: rotateY(180deg);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3em;
      font-weight: lighter;
    }
  }

  h2 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.9px;
    font-weight: lighter;
    margin: 0;
  }

  .card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 10%;
    box-sizing: border-box;
  }
}
