header {
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 74px;

  background-color: #fff;
  box-shadow: 0px 0px 40px 0px rgba(51,73,94,0.1);

  z-index: 2;
  text-align: center;

  a {
    font-weight: lighter;
    color: rgb(78, 78, 78);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  h1 {
    margin: 0;
  }

  svg {
    width: auto;
    height: 75%;
  }

  span {
    margin-left: 20px;
  }
}
